body {
  background-color: #272727;
  color: #f0f0f0;
}

.embark-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}

.second-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}

.third-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}

#embarked-firstC {
  background-color: yellow;
  height: 100px;
  width: 20px;
}
