.embark-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}

.second-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}

.third-embarked {
  height: 200px;
  width: 150px;
  border-width: 2px;
  background-color: #989898;
}
